/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
  margin: auto;

}
.flexContainer div {
  width: 33%;
  padding: 25px;
  margin: auto;
  border: red;
  display: flex;
  font-family: sculpin, sans-serif;
  font-weight: 400;

font-style: normal;
}
section {
  margin: auto;
  font-family: sculpin, sans-serif;
  font-weight: 400;

font-style: normal;
}
.flexitem {
  display: flex;
  margin: auto;
}