/* My UX Skills Section */
.flexContainer {
  display: flex;
  background-color:;
  padding-top: 60px;
  padding-bottom: 30px;
  flex-direction: row;
}

.flexContainer div {
  width: 33%;
  padding: 25px;
  font-family: sculpin, sans-serif;
  font-weight: 400;
}

